@charset "UTF-8";

/* 全局样式 */

*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", "Microsoft YaHei", "Segoe UI", sans-serif;
    color: #b6b9bb;
    text-decoration: none;
    position: relative;
}

a{
    cursor: pointer;
    z-index: 2;
}

body{
    --col0_width: 215px;
    --sidebar_width: 250px;
    --posttitle_width: 230px;
    --post_height: 1000px;
    font-size: 15px;
    background-color: black;
}

#page{
    margin: 20px auto 20px auto;
    width: max-content;
    display: flow-root;
}

.col{
    float: left;
}

/* 标题区域样式 */

#col0{
    width: var(--col0_width);
    padding-right: 5px;
    overflow: hidden;
}

.col #title{
    writing-mode: vertical-lr;
    border: 1px solid #344349;
    padding: 0 20px 30px 10px;
    position: relative;
    float: right;
}

.col #name{
    width: 60px;
    padding-top: 30px;
    padding-left: 20px;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0) ,rgba(18, 53, 68, 0.64) 10%, rgba(18, 53, 68, 0));
}

.col #name a{
    color: black;
    font-size: 3em;
    font-weight: bolder;
    -webkit-text-stroke: 2px #b7c0c1;
    letter-spacing: 12px;
    vertical-align: text-bottom;
}

.col #info{
    line-height: 2em;
    letter-spacing: 1px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0) 25%,rgba(18, 53, 68, 0.64) 35%, rgba(18, 53, 68, 0));
}

.col #page_bar{
    padding-top: 15px;
    float: right;
}

.col #page_bar ul li{
    box-sizing: border-box;
    float: right;
    width: var(--col0_width);;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 5px;
    border: 1px solid #344349;
    border-left: 4px solid #bdde2d;
    background-image: linear-gradient(to right, rgba(18, 53, 68, 0), rgba(18, 53, 68, 0.2) 10%, rgba(18, 53, 68, 0.5) 50%, rgba(18, 53, 68, 0));
}

.col .pagetitle{
    font-size: 1.2em;
    font-weight: normal;
    border: 1px solid #344349;
    border-top: 0;
    padding-left: 10px;
    line-height: 2em;
}

.col #owner{
    float: right;
    padding-top: 20px;
    text-align: right;
}

.col #owner span{
    padding-left: 10px;
}

/* 侧边栏样式 */

#col1{
    width: var(--sidebar_width);
    padding-left: 5px;
    padding-right: 5px;
}

.col #sidebar ul{
    border-bottom: 1px solid #344349;
}

.col #sidebar ul li{
    display: block;
}

.col #sidebar ul li ul, .col #sidebar ul li ol{
    border-left: 4px solid #a09faa;
    border-right: 1px solid #344349;
    padding: 10px 0 10px 10px;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0.5), rgba(18, 53, 68, 0) 65%, rgba(18, 53, 68, 0) 80%, rgba(18, 53, 68, 0.5) 100%);
}

.col #sidebar ul li ul li, .col #sidebar ul li ol li{
    text-align: center;
    display: block;
    line-height: 2em;
    width: calc(var(--sidebar_width) - 25px);
}

.col #sidebar h2{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    letter-spacing: 2px;
    background-image: linear-gradient(to bottom, #02545f, #05949a 52%, #02545f 81%, #030e17 100%);
    border-left: 4px solid #bdde2d;
}

#touch_limit{
    width: 90%;
    text-align: center;
}

#touch_limit td{
    border:1px solid #344349;
    width: 50%;
}

#re_user_hit_red{
    background-image: linear-gradient(to right, red, rgba(255, 0, 0, 0));
}

/* 日志区域样式 */

#col2{
    padding-left: 5px;
}

.col #col2_top{
    clear: both;
    display: flow-root;
}

.col #search_form{
    float: left;
    border: 1px solid #344349;
}

.col #s{
    border: none;
    line-height: 29px;
    background: none;
}

.col #searchsubmit{
    border: none;
    height: 33px;
    width: 33px;
    background: none;
}

.col #get_archives{
    float: right;
}

.col #get_archives select{
    height: 35px;
    width: 200px;
    border: 1px solid #344349;
    background: none;
    color: white;
}

.col #get_cats{
    padding-top: 10px;
    clear: both;
    list-style: none;
    display: flow-root;
    position: relative;
}

.col #get_cats ul{
    display: flow-root;
    border: 1px solid #344349;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgba(18, 53, 68, 0) ,rgba(18, 53, 68, 0.8) 30%, rgba(18, 53, 68, 0));
}

.col #get_cats ul li{
    float: left;
    display: block;
    line-height: 50px;
}

.col .con{
    float: left;
    width: 400px;
}

.col #con1{
    padding-right: 5px;
}

.col #con2{
    padding-left: 5px;
    padding-right: 5px;
}

.col #con3{
    padding-left: 5px;
}

.col .post{
    height: var(--post_height);
}

.col .sticky{
    height: auto;
}

.col .post_words{
    margin-top: 10px;
    border-bottom: 1px solid #344349;
    border-left: 1px solid #344349;
    border-right: 1px solid #344349;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0) 25%,rgba(18, 53, 68, 0.64) 50%, rgba(18, 53, 68, 0));
    position: relative;
    padding: 20px 15px 20px 40px;
    display: flow-root;
    max-height: var(--post_height);
    overflow: hidden;
}

.col .post_info{
    float: left;
    padding: 0 0 0 10px;
    border-right: 2px solid #bdde2d;
}

.post_info a{
    margin-right: 10px;
}

.col .post_title{
    float: right;
    font-size: 1.2em;
    width: var(--posttitle_width);
    padding-bottom: 20px;
    padding-left: 10px;
    position: relative;
}

.col .post_title a{
    color: #19a2a9;
}

.col .post_content{
    clear: both;
    padding-top: 20px;
    text-indent: 2em;
    line-height: 1.8em;
    word-break: break-all;
    overflow-wrap: break-word;
}

.col .post_content p{
    padding-bottom: 1em;
}

.col .wp-block-image{
    text-indent: 0;
    margin: 0 0 5px 0;
    box-sizing: border-box;
}

.col .wp-block-image figure{
    margin: 0;
    border: 1px solid #344349;
}

.col .wp-block-image .alignleft{
    margin-right: 10px;
}

.col .wp-block-image .alignright{
    margin-left: 10px;
}

.col .wp-block-image img{
    object-fit: cover;
    aspect-ratio: 16/9;
}

.col .wp-block-image figcaption{
    text-align: center;
    margin: 0;
}

.wp-block-image .aligncenter>figcaption, .wp-block-image .alignleft>figcaption, .wp-block-image .alignright>figcaption {
    display: block !important;
}

.wp-block-code{
    position: relative;
    white-space: pre-wrap;/*代码段自动换行*/
    word-wrap: break-word;
    word-break: break-word;
    padding: 5px 0 5px 35px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid #bdde2d;
    text-indent: 0;
}

.wp-block-code code{
    font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif;
    line-height: 1.2em;
}

.wp-block-media-text{
    margin-bottom: 1em;
    border-top: 1px solid #344349;
}

.wp-block-media-text .wp-block-media-text__media{
    text-indent: 0;
    padding-top: 10px;
    border-right: 1px dashed #344349;
    padding-right: 10px;
}

.has-media-on-the-right .wp-block-media-text__media{
    border-right: none;
    border-left: 1px dashed #344349;
    padding-right: 0;
    padding-left: 10px;
}

.wp-block-media-text .wp-block-media-text__media img{
    object-fit: cover;
}

.code_list_num{
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    padding: 5px 5px 0 5px;
    width: 20px;
    border-right: 1px solid white;
    line-height: 1.2em;
    z-index: -2;
}

.wp-block-quote{
    border: 1px solid #344349;
    padding: 10px;
}

.post_words iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

.wp-block-embed{
    text-indent: 0;
}

.wp-block-embed blockquote{
    display: none;
}

.col .wp-block-embed .wp-embedded-content{
    position: relative;
    width: 100%;
    height: 217px;
    aspect-ratio: unset;
}

.col .post_bottom_cover{
    background: black;
}

.col .sign{
    text-align: right;
    padding-bottom: 1em;
    clear: both;
}

.readmore{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    position: absolute;
    width: 343px;
    height: 100px;
    /*top: 953px;*/
    bottom: -22px;
    text-indent: 0;
    text-align: center;
    line-height: 6em;
    vertical-align: bottom;
    z-index: 2;
}

.post_bottom_cover{
    z-index: 3 !important;
}

.col #zhiding{
    clear: both;
    float: left;
}

#zhiding .post_bottom_cover{
    display: none;
}

#zhiding .readmore{
    display: none;
}

#zhiding .comments{
    display: flow-root;
    margin-top: 10px;
    border-bottom: 1px solid #344349;
    border-right: 1px solid #bdde2d;
    border-left: 1px solid #bdde2d;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0.4), rgba(18, 53, 68, 0));
    position: relative;
    padding: 25px 25px 25px 30px;
}

#zhiding .call_name{
    float: left;
    width: 50%;
    padding-top: 10px;
}

#zhiding .call_text{
    float: left;
    width: 50%;
}

#zhiding .call_name label{
    line-height: 2em;
}

#zhiding .call_name input{
    box-sizing: border-box;
    width: 70%;
    background: none;
    border: 1px solid #344349;
    float: right;
    line-height: 2em;
}

#zhiding .call_name p{
    margin-top: 10px;
}

#zhiding .call_name #wp-comment-cookies-consent{
    float: none;
    width: auto;
}

#zhiding .call_text p{
    margin-bottom: 10px;
}

#zhiding .call_text .comment-form-comment{
    padding-left: 10px;
}

#zhiding .call_text #comment{
    width: 100%;
    background: none;
    border: 1px solid #344349;
}

#zhiding .call_text input{
    float: right;
    background: none;
    border: 1px solid #344349;
    line-height: 2em;
    padding-right: 40px;
    padding-left: 40px;
}