@charset "UTF-8";

/* 全局样式 */

*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", "Microsoft YaHei", "Segoe UI", sans-serif;
    color: #b6b9bb;
    text-decoration: none;
}

a{
    cursor: pointer;
    z-index: 2;
}

body{
    --col0_width: 150px;
    --sidebar_width: 250px;
    --posttitle_width: 230px;
    font-size: 15px;
    background-color: black;
}

#page{
    margin: 20px auto 20px auto;
    width: max-content;
    display: flow-root;
}

.col{
    float: left;
}

/* 标题区域样式 */

#col0{
    width: var(--col0_width);
    padding-right: 5px;
    overflow: hidden;
}

.col #title{
    writing-mode: vertical-lr;
    border: 1px solid #344349;
    padding: 0px 20px 30px 10px;
    position: relative;
    float: right;
}

.col #name{
    width: 60px;
    padding-top: 30px;
    padding-left: 20px;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0) ,rgba(18, 53, 68, 0.64) 10%, rgba(18, 53, 68, 0));
}

.col #name a{
    color: black;
    font-size: 3em;
    font-weight: bolder;
    -webkit-text-stroke: 2px #b7c0c1;
    letter-spacing: 12px;
    vertical-align: text-bottom;
}

.col #info{
    line-height: 2em;
    letter-spacing: 1px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0) 25%,rgba(18, 53, 68, 0.64) 35%, rgba(18, 53, 68, 0));
}

.col #page_bar{
    padding-top: 15px;
    float: right;
}

.col #page_bar ul li{
    box-sizing: border-box;
    float: right;
    width: var(--col0_width);;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 5px;
    border: 1px solid #344349;
    border-left: 4px solid #bdde2d;
    background-image: linear-gradient(to right, rgba(18, 53, 68, 0), rgba(18, 53, 68, 0.2) 10%, rgba(18, 53, 68, 0.5) 50%, rgba(18, 53, 68, 0));
}

/* 侧边栏样式 */

#col1{
    width: var(--sidebar_width);
    padding-left: 5px;
    padding-right: 5px;
}

.col #sidebar ul{
    border-bottom: 1px solid #344349;
}

.col #sidebar ul li{
    display: block;
}

.col #sidebar ul li ul, .col #sidebar ul li ol{
    border-left: 4px solid #a09faa;
    border-right: 1px solid #344349;
    padding-left: 10px;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0.5), rgba(18, 53, 68, 0) 65%, rgba(18, 53, 68, 0) 80%, rgba(18, 53, 68, 0.5) 100%);
}

.col #sidebar ul li ul li, .col #sidebar ul li ol li{
    text-align: center;
    display: block;
    line-height: 2em;
    width: calc(var(--sidebar_width) - 15px);
}

.col #sidebar h2{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    letter-spacing: 2px;
    background-image: linear-gradient(to bottom, #02545f, #05949a 52%, #02545f 81%, #030e17 100%);
    border-left: 4px solid #bdde2d;
}

/* 日志区域样式 */

#col2{
    padding-left: 5px;
}

.col #col2_top{
    clear: both;
    display: flow-root;
}

.col #search_form{
    float: left;
    border: 1px solid #344349;
}

.col #s{
    border: none;
    line-height: 29px;
    background: none;
}

.col #searchsubmit{
    border: none;
    height: 33px;
    width: 33px;
    background: none;
}

.col #get_archives{
    float: right;
}

.col #get_archives select{
    height: 35px;
    width: 200px;
    border: 1px solid #344349;
    background: none;
    color: white;
}

.col #get_cats{
    padding-top: 10px;
    clear: both;
    list-style: none;
    display: flow-root;
    position: relative;
}

.col #get_cats ul{
    display: flow-root;
    border: 1px solid #344349;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgba(18, 53, 68, 0) ,rgba(18, 53, 68, 0.8) 30%, rgba(18, 53, 68, 0));
}

.col #get_cats ul li{
    float: left;
    display: block;
    line-height: 50px;
}

.col .con{
    float: left;
    width: 400px;
}

.col #con1{
    padding-right: 5px;
}

.col #con2{
    padding-left: 5px;
    padding-right: 5px;
}

.col #con3{
    padding-left: 5px;
}

.col .post_words{
    margin-top: 10px;
    border-bottom: 1px solid #344349;
    border-left: 1px solid #344349;
    border-right: 1px solid #344349;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0) 25%,rgba(18, 53, 68, 0.64) 50%, rgba(18, 53, 68, 0));
    position: relative;
    padding: 20px 15px 20px 40px;
}

.col .post_info{
    float: left;
    padding: 0 10px 0 10px;
    border-right: 2px solid #bdde2d;
}

.col .post_title{
    float: right;
    font-size: 1.2em;
    width: var(--posttitle_width);
    padding-bottom: 20px;
    padding-left: 10px;
    position: relative;
}

.col .post_title a{
    color: #19a2a9;
}

.col .post_content{
    clear: both;
    padding-top: 20px;
    text-indent: 2em;
    line-height: 1.8em;
    word-break: break-all;
    overflow-wrap: break-word;
}

.col .post_content p{
    padding-bottom: 1em;
}

.col .sign{
    text-align: right;
    padding-bottom: 1em;
}

.col #zhiding{
    clear: both;
    float: left;
}