@charset "UTF-8";

.row{
    clear: both;
    display: flow-root;
    margin-left: 20px;
    margin-right: 20px;
}

/* 标题栏 */

#single_row0{
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.row #title{
    padding: 10px 0 20px 0;
    border: 1px solid #344349;
    position: relative;
}

.row #name{
    padding: 20px 40px 0 40px;
    background-image: linear-gradient(to right, rgba(18, 53, 68, 0), rgba(18, 53, 68, 0.64) 60%, rgba(18, 53, 68, 0.64) 90%, rgba(18, 53, 68, 0));
}

.row #name a{
    color: black;
    font-size: 3em;
    font-weight: bolder;
    -webkit-text-stroke: 2px #b7c0c1;
    letter-spacing: 3px;
}

.row #info{
    text-align: center;
    padding: 20px 0 10px 0;
    background-image: linear-gradient(to right, rgba(18, 53, 68, 0) 10%, rgba(18, 53, 68, 0.64) 20%, rgba(18, 53, 68, 0.64) 50%, rgba(18, 53, 68, 0));
}

.row #owner{
    font-size: 0.8em;
    text-align: right;
    letter-spacing: 1px;
}

.row .aplayer{
    float: none;
    width: auto;
    margin: 0;
}

/* 日志栏 */

#single_row1{
    margin-bottom: 10px;
}

.row .post_words{
    border: 1px solid #344349;
    border-top: 0;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0), rgba(18, 53, 68, 0.64) 10%, rgba(18, 53, 68, 0));
    position: relative;
    padding: 25px 25px 25px 30px;
    display: flow-root;
}

.row .post_info{
    position: absolute;
    padding: 0 0 0 10px;
    border-right: 2px solid #344349;
}

.row .post_title{
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 20px;
}

.row .post_title a{
    color: white;
}

.row .post_content{
    clear: both;
    padding: 20px 30px 20px 40px;
    text-indent: 2em;
    line-height: 1.8em;
    word-break: break-all;
    overflow-wrap: break-word;
}

/*.row .post_content p{*/
/*    padding-bottom: 1em;*/
/*}*/

/*.row .post_content p a{*/
/*    color: #19a2a9;*/
/*    border: 1px solid #344349;*/
/*    display: block;*/
/*    padding: 0.5em;*/
/*}*/

.row .wp-block-embed .wp-embedded-content{
    position: relative;
    width: 100%;
    height: 180px;
    aspect-ratio: unset;
}

.row .sign{
    text-align: right;
    padding:0 30px 1em 0;
    clear: both;
}

/*评论样式*/

.row .comments{
    display: flow-root;
    margin-top: 10px;
    border-bottom: 1px solid #344349;
    border-right: 1px solid #bdde2d;
    border-left: 1px solid #bdde2d;
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0.4), rgba(18, 53, 68, 0));
    position: relative;
    padding: 25px 25px 25px 30px;
}

.row .call_name{
    float: left;
    width: 50%;
    padding-top: 10px;
}

.row .call_text{
    float: left;
    width: 50%;
}

.row .call_name label{
    line-height: 2em;
}

.row .call_name input{
    box-sizing: border-box;
    width: 70%;
    background: none;
    border: 1px solid #344349;
    float: right;
    line-height: 2em;
}

.row .call_name p{
    margin-top: 10px;
}

.row .call_name #wp-comment-cookies-consent{
    float: none;
    width: auto;
}

.row .call_text p{
    margin-bottom: 10px;
}

.row .call_text .comment-form-comment{
    padding-left: 10px;
}

.row .call_text #comment{
    width: 100%;
    background: none;
    border: 1px solid #344349;
}

.row .call_text input{
    float: right;
    background: none;
    border: 1px solid #344349;
    line-height: 2em;
    padding-right: 40px;
    padding-left: 40px;
}

/* 侧边栏样式 */

.row #sidebar{
    display: flow-root;
}

.row #sidebar ul li{
    display: block;
}

.row .widget{
    float: left;
    box-sizing: border-box;

}

.row .widget ul{
    background-image: linear-gradient(to bottom, rgba(18, 53, 68, 0.68), rgba(18, 53, 68, 0), rgba(18, 53, 68, 0.68));
    border-left: 3px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.row .widget h2{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 20px;
    line-height: 2em;
    letter-spacing: 2px;
    border-left: 3px solid #a09faa;
    background-image: linear-gradient(to bottom, #02545f, #05949a 52%, #02545f 81%, #030e17 100%);
}

.row .sidebar_first h2{
    border-left: 4px solid #bdde2d;
}

.row .sidebar_first ul{
    border-left: 4px solid #7b8487;
}